{%load staticfiles %}

<link rel = "stylesheet" type = "text/css" href="{% static 'polls/style.css' %}" />
<p> 
	<h1>
		Movies on our Radar Needing Votes
	</h1>
</p>
{% if latest_movie_list %}
    {% for movie in latest_movie_list %}
    <ul>
        <li><a href={% url 'detail' movie.id %}>{{ movie.movie_text}}</a> </li>
        <ul> 
            <li>Score: {{movie.score}} </li>
        </ul>
    </ul>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

<p> <a href='/polls'> Highest Rated </a> </p>
<p>
	<a href='polls/add_entry'> Add new movie </a>
</p>